h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.227em;
  font-family: Marcellus,serif;
  color: black;
  margin: 25px 0;
    display: block;
    /* font-weight: bold; */
     word-wrap: break-word;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
}
h6 {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.6em;
  letter-spacing: .6em;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  color: #b29063;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}




/* utils */
.brown-color{
  color: #B29063;
}